<p>
	<strong> EEPROM </strong>
	<span style="font-weight: 400;"> &mdash; ( англ. electrically erasable programmable read-only memory, электрически стираемое перепрограммируемое ПЗУ). Главной отличительной особенностью EEPROM (в т.ч. Flash) от ранее рассмотренных нами типов энергонезависимой памяти является возможность перепрограммирования при подключении к стандартной системной шине микропроцессорного устройства. В EEPROM появилась возможность производить стирание отдельной ячейки при помощи электрического тока. </span>
</p>
<p>
	<strong> Преимущества: </strong>
	<span style="font-weight: 400;"> (по сравнению с EPROM) </span>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Увеличенный ресурс работы. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Проще в обращении. </span>
	</li>
</ol>
<p>
	<strong> Недостатки: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая стоимость </span>
	</li>
</ol>
<p>
	<span style="font-weight: 400;"> Одной из разновидностей EEPROM является флеш-память ( англ. flash memory) &mdash; разновидность твердотельной полупроводниковой энергонезависимой перезаписываемой памяти. </span>
</p>