<h1 style="padding-left: 30px;">
	<strong> Разновидности ROM-памяти </strong>
</h1>
<p>
	<strong> ROM </strong>
	<span style="font-weight: 400;"> ( </span>
	<strong>
		<em> R </em>
	</strong>
	<em>
		<span style="font-weight: 400;"> ead </span>
	</em>
	<strong>
		<em> O </em>
	</strong>
	<em>
		<span style="font-weight: 400;"> nly </span>
	</em>
	<strong>
		<em> M </em>
	</strong>
	<em>
		<span style="font-weight: 400;"> emory </span>
	</em>
	<span style="font-weight: 400;"> &mdash; постоя́нное запомина́ющее устро́йство) &mdash; энергонезависимая память, используется для хранения массива неизменяемых данных. В английской терминологии Read Only Memory - это память, работающая только на считывание. Информация, находящаяся в такой памяти, заранее закладывается при ее изготовлении (&laquo;зашивается&raquo;) и при отключении питания не разрушается. </span>
</p>
<p>
	<strong> Преимущества: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Низкая стоимость готовой запрограммированной микросхемы (при больших объёмах производства). </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая скорость доступа к ячейке памяти. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая надёжность готовой микросхемы и устойчивость к электромагнитным полям. </span>
	</li>
</ol>
<p>
	<strong> Недостатки: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Невозможность записывать и модифицировать данные после изготовления. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Сложный производственный цикл. </span>
	</li>
</ol>
<p>&nbsp;</p>
<p>
	<strong> PROM </strong>
	<span style="font-weight: 400;"> &mdash; ( англ. programmable read-only memory, программируемое ПЗУ (ППЗУ)) &mdash; ПЗУ, однократно &laquo;прошиваемое&raquo; пользователем. В качестве ячеек памяти в данном типе памяти использовались плавкие перемычки. В отличие от Mask-ROM, в PROM появилась возможность кодировать ("пережигать") ячейки при наличии специального устройства для записи (программатора).&nbsp; </span>
</p>
<p>
	<strong> Преимущества: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая надёжность готовой микросхемы и устойчивость к электромагнитным полям и радиации. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Возможность программировать готовую микросхему, что удобно для штучного и мелкосерийного производства. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая скорость доступа к ячейке памяти. </span>
	</li>
</ol>
<p>
	<strong> Недостатки: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Невозможность перезаписи </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Большой процент брака </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Необходимость специальной длительной термической тренировки, без которой надежность хранения данных была невысокой </span>
	</li>
</ol>
