<h1 style="padding-left: 30px;">
	<strong> Разновидности ROM-памяти </strong>
</h1>
<p>
	<strong> ROM </strong>
	<span style="font-weight: 400;"> ( </span>
	<strong>
		<em> R </em>
	</strong>
	<em>
		<span style="font-weight: 400;"> ead </span>
	</em>
	<strong>
		<em> O </em>
	</strong>
	<em>
		<span style="font-weight: 400;"> nly </span>
	</em>
	<strong>
		<em> M </em>
	</strong>
	<em>
		<span style="font-weight: 400;"> emory </span>
	</em>
	<span style="font-weight: 400;"> &mdash; постоя?нное запомина?ющее устро?йство) &mdash; энергонезависимая память, используется для хранения массива неизменяемых данных. В английской терминологии Read Only Memory - это память, работающая только на считывание. Информация, находящаяся в такой памяти, заранее закладывается при ее изготовлении (&laquo;зашивается&raquo;) и при отключении питания не разрушается. </span>
</p>
<p>
	<strong> Преимущества: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Низкая стоимость готовой запрограммированной микросхемы (при больших объёмах производства). </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая скорость доступа к ячейке памяти. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая надёжность готовой микросхемы и устойчивость к электромагнитным полям. </span>
	</li>
</ol>
<p>
	<strong> Недостатки: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Невозможность записывать и модифицировать данные после изготовления. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Сложный производственный цикл. </span>
	</li>
</ol>
<p>&nbsp;</p>
<p>
	<strong> PROM </strong>
	<span style="font-weight: 400;"> &mdash; ( англ. programmable read-only memory, программируемое ПЗУ (ППЗУ)) &mdash; ПЗУ, однократно &laquo;прошиваемое&raquo; пользователем. В качестве ячеек памяти в данном типе памяти использовались плавкие перемычки. В отличие от Mask-ROM, в PROM появилась возможность кодировать ("пережигать") ячейки при наличии специального устройства для записи (программатора).&nbsp; </span>
</p>
<p>
	<strong> Преимущества: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая надёжность готовой микросхемы и устойчивость к электромагнитным полям и радиации. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Возможность программировать готовую микросхему, что удобно для штучного и мелкосерийного производства. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая скорость доступа к ячейке памяти. </span>
	</li>
</ol>
<p>
	<strong> Недостатки: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Невозможность перезаписи </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Большой процент брака </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Необходимость специальной длительной термической тренировки, без которой надежность хранения данных была невысокой </span>
	</li>
</ol>

<p>
	<strong> EPROM </strong>
	<span style="font-weight: 400;"> &mdash; ( англ. erasable programmable read-only memory, перепрограммируемое/репрограммируемое ПЗУ (ПППЗУ/РПЗУ)). В EPROM перед записью необходимо произвести стирание (соответственно появилась возможность перезаписывать содержимое памяти). Стирание ячеек EPROM выполняется сразу для всей микросхемы посредством облучения чипа ультрафиолетовыми (UV-EPROM) или рентгеновскими лучами в течение нескольких минут. </span>
</p>
<p>
	<strong> Преимущества: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Возможность перезаписывать содержимое микросхемы </span>
	</li>
</ol>
<p>
	<strong> Недостатки: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Небольшое количество циклов перезаписи. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Невозможность модификации части хранимых данных. </span>
	</li>
</ol>
<p>&nbsp;</p>
<p>
	<strong> EEPROM </strong>
	<span style="font-weight: 400;"> &mdash; ( англ. electrically erasable programmable read-only memory, электрически стираемое перепрограммируемое ПЗУ). Главной отличительной особенностью EEPROM (в т.ч. Flash) от ранее рассмотренных нами типов энергонезависимой памяти является возможность перепрограммирования при подключении к стандартной системной шине микропроцессорного устройства. В EEPROM появилась возможность производить стирание отдельной ячейки при помощи электрического тока. </span>
</p>
<p>
	<strong> Преимущества: </strong>
	<span style="font-weight: 400;"> (по сравнению с EPROM) </span>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Увеличенный ресурс работы. </span>
	</li>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Проще в обращении. </span>
	</li>
</ol>
<p>
	<strong> Недостатки: </strong>
</p>
<ol>
	<li style="font-weight: 400;">
		<span style="font-weight: 400;"> Высокая стоимость </span>
	</li>
</ol>
<p>
	<span style="font-weight: 400;"> Одной из разновидностей EEPROM является флеш-память ( англ. flash memory) &mdash; разновидность твердотельной полупроводниковой энергонезависимой перезаписываемой памяти. </span>
</p>


<h1 style="padding-left: 30px;">
	<strong> Устройство ячейки флэш-памяти </strong>
</h1>
<p>
	<span style="font-weight: 400;"> На простейшем уровне ячейка флэшпамяти представляет собой n-канальный MOSFET-транзистор с так называемым плавающим затвором. Напомним, что обычный n-канальный MOSFET-транзистор (структура n-p-n) может находиться в двух состояниях: открытом и запертом (закрытом). Управляя напряжением между стоком и затвором, можно создавать канал проводимости электронов (n-канал) между истоком и стоком (рис. 1). Напряжение, при котором возникает канал проводимости, называется пороговым. Наличие канала проводимости соответствует открытому состоянию транзистора, а отсутствие (когда транзистор не способен проводить ток от истока к стоку) &mdash; запертому. </span>
</p>
<p>
	<span style="font-weight: 400;">
		<img src="img1.gif" alt="" width="650" height="277" />
	</span>
</p>
<p>
	<span style="font-weight: 400;"> Рис. 1. Устройство MOSFET-транзистора (открытое и закрытое состояние) </span>
</p>
<p>
	<span style="font-weight: 400;"> В открытом состоянии напряжение между стоком и истоком близко к нулю, а в закрытом может достигать высокого значения. Конечно, сам по себе транзистор не способен сохранять информацию. Собственно, для хранения информации как раз предназначен плавающий затвор (рис. 2). Он выполнен из поликристаллического кремния и полностью окружен слоем диэлектрика, что обеспечивает ему полное отсутствие электрического контакта с элементами транзистора. Плавающий затвор расположен между управляющим затвором и подложкой из p-n-переходов. Такой затвор способен сохранять помещенный на него заряд (отрицательный) в течение неограниченного времени (до 10 лет). Наличие или отсутствие избыточного отрицательного заряда (электронов) на плавающем затворе может трактоваться как логические единица и ноль. </span>
</p>
<p>
	<span style="font-weight: 400;">
		<img src="img2.gif" alt="" width="650" height="555" />
	</span>
</p>
<p>
	<span style="font-weight: 400;"> Рис. 2. Устройство транзистора с плавающим затвором и чтение содержимого ячейки памяти </span>
</p>